.container {
    max-width: 1240px;
    padding: 0rem 2rem;
    margin: 0 auto;
}

.my-2 {
    margin: 2rem 0rem;
}

.my-4 {
    margin: 4rem 0rem;
}

.mx-4 {
    margin: 0rem 4rem;
}

.tshadow-1 {
    text-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}

.section-default {
    margin: 12rem 0rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 6rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6rem;
}

.title {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: var(--dark);
}

.title.light {
    color: var(--light);
}

.title span {
    font-family: "Dosis",sans-serif;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    color:var(--secondary);
}

.text {
    font-size: 1.55rem;
    font-weight: 600;
    color: var(--text);
}

.bg-primary {
    background-color: var(--primary)
}

.exam1 {
    background-image: url(../../img/exames/colonoscopia.jpg);
}

.exam2 {
    background-image: url(../../img/exames/ecocardiograma.jpg);
}

.exam3 {
    background-image: url(../../img/exames/ecografia.jpg)
}

.exam4 {
    background-image: url(../../img/exames/electrocardiograma.jpg)
}

.exam5 {
    background-image: url(../../img/exames/mamografia.jpg)
}

.exam6 {
    background-image: url(../../img/exames/teste-ergometrico.jpg)
}